<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration Successful</title>
  <link rel="stylesheet" href="/css/register-success.css">
</head>
<body>

<header class="header">

  <a th:href="@{/}"  class="logo">
    <img src="/images/skull-logo.png" alt="Shrooms logo">

    <div class="logo-text">
      <div class="logo-title">SHROOMS</div>
      <div class="logo-subtitle">SCAFFOLD SOLUTIONS</div>
    </div>
  </a>

  <nav class="nav">
    <a th:href="@{/}" >Home</a>
    <a th:href="@{/scaffolds}">Our Work</a>
    <a th:href="@{/login}" class="login-btn">Login</a>
  </nav>

</header>

<main class="success-page">

  <section class="success-card">

    <div class="checkmark">✓</div>

    <h1>Registration Successful</h1>

    <div class="red-line"></div>

    <p>
      Your account has been successfully created.
      You can now login and access Shrooms Scaffold services.
    </p>

    <a th:href="@{/login}" class="success-btn">
      GO TO LOGIN
    </a>

  </section>

</main>
<footer class="footer">

    <span class="copyright">
        © 2026 Shrooms Scaffold Solutions
    </span>

  <img src="/images/skull-logo.png"
       alt="Shrooms Logo"
       class="footer-logo">

  <span class="powered">
        Powered by T. Ivanova
    </span>

</footer>
</body>
</html>