<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Scaffolds</title>
</head>
<body>

<h1>Available Scaffolds</h1>

<div th:each="scaffold : ${scaffolds}">

  <h2 th:text="${scaffold.name}">Scaffold Name</h2>

  <img th:src="${scaffold.imageUrl}"
       alt="Scaffold Image"
       width="300px">

  <p th:text="${scaffold.description}">
    Description
  </p>

  <p>
    Material:
    <span th:text="${scaffold.materialType}"></span>
  </p>

  <p>
    Category:
    <span th:text="${scaffold.scaffoldCategory}"></span>
  </p>

  <p>
    Rent Price:
    <span th:text="${scaffold.priceForRent}"></span> €
  </p>

  <p>
    Sale Price:
    <span th:text="${scaffold.priceForSale}"></span> €
  </p>

  <hr>

</div>

</body>
</html>